.home-contact {
  text-align: center;
  padding: 8rem;
  margin: 5rem 0;
  .contact-form-container {
    text-align: left;
    padding: 2rem;
    margin: 1rem auto;
    .each-field {
      width: 100%;
      margin: 5px;
    }
    .button-groups {
        display: flex;
        justify-content: right;
        button {
            margin-left : 0.5rem;
        }
    }
  }
}
@media (max-width: 1024px) {
  .home-contact {
    padding: 1rem;
    margin: 1rem auto;
  }
}
