.home-contact {
  text-align: center;
  .section-heading {
    font-size: 55px;
    line-height: 3.8rem;
  }

  .section-subheading {
    font-size: 18px;
    line-height: 30px;
    color: #808080;
    margin: 2rem 0;
  }
  .contact-form-container {
    text-align: left;
    max-width: 600px;
    background-color: #FFF;
    padding: 2rem;
    margin: 1rem auto;
    .each-field {
      width: 100%;
      margin: 5px;
    }
    .button-groups {
        display: flex;
        justify-content: right;
        button {
            margin-left : 0.5rem;
        }
    }
  }
}
