.home-highlights {
  text-align: center;
  .highlights-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .highlight-card {
      text-align: left;
      width: 40%;
      margin: 10px;
      .card-group {
        justify-content: flex-start!important;
      }
      .highlight-header-image {
        background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
        background-size: cover;
      }
    }
  }
}
