.landing-banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  .banner-image {
    width: 100%;
  }

}
@media (max-width: 1024px) {
  .landing-banner {
    display: block;
  }
}
