<div class="landing-banner">
  <div>
    <div class="banner-heading">MAYANK TANTED AND ASSOCIATES</div>
    <div class="banner-subheading">
      Discover your perfect place with the most authentic sources for rental and
      sale near Indore.
    </div>
    <form class="search-form">
      <mat-form-field class="search-full-width" appearance="fill">
        <mat-label>Let us guide you to your dream home</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Search for what you want"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="navigateToSearch($event)"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="false">Hello</mat-hint>
      </mat-form-field>
    </form>
  </div>

  <div>
    <img class="banner-image" src="/assets/images/home-banner.png" />
  </div>
</div>

<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
