.header-container {
  justify-content: space-between;

  .site-logo {
    width: 50px;
  }

  .header-actions {
    display: flex;
    align-items: center;
  }

  .user-profile {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
    margin-bottom: inherit !important;
  }

  .user-profile-card {
    padding-bottom: 2rem;
    margin-bottom: 2rem !important;
  }

  .search-form {
    min-width: 50px;
    max-width: 500px;
    width: 100%;
    align-items: center;
  }

  .search-full-width {
    width: 100%;
  }
}
