<div class="landing-home">
  <div class="section-white">
    <div class="each-section">
      <app-banner></app-banner>
    </div>
  </div>
  <div class="section-white">
    <div class="each-section">
      <app-highlights></app-highlights>
    </div>
  </div>
  <div class="section-white">
    <div class="each-section">
      <app-map></app-map>
    </div>
  </div>
  <div class="section-white">
    <div class="each-section">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
